.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
    width: 100%;
}


.form-container {
    background-color: rgba(230, 227, 227, 0.5);
    color: rgb(45, 42, 39);
    padding: 6% 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    animation: show-delay 1s linear 0s 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

.form-container h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(39, 31, 93);
    background: linear-gradient(to right, rgba(230, 227, 227, 0.7), rgba(230, 227, 227, 0), rgba(230, 227, 227, 0));
}

@keyframes show-delay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.form-container input {
    width: 250px;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(45, 42, 39);
}

.submit-btn {
    margin-top: 12%;
    margin-left: 1%;
    background-color: rgb(39, 31, 93);
    color: antiquewhite;
    font-weight: 500;
    transition: 1s;
    border: none;
    padding: 8px 0;
}

.submit-btn:hover {
    background-color: rgb(10, 2, 59);
}

.sign-up-page-links {
    animation: show-delay 2s linear 0s 1;
}

.sign-up-page-links button {
    width: 300px;
    padding: 6px 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 600;
    text-align: start;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.sign-up-page-links button:hover {
    background-color: aliceblue;
}

.return-btn {
    margin-top: 10px;
    color: rgb(65, 50, 27);
    font-size: 0.9rem;
}

.already-member-btn {
    padding: 8px 0;
    margin-top: 10px;
    color: darkblue;
    font-weight: 700;
    font-size: 1rem;
}

.google-sign-in-btn {
    /* background-color: yellow; */
    color: green;
    font-weight: 700;
    font-size: 1rem;
}

.special-email-note {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    color: blue;
    font-weight: 500;
    /* width: 80%; */
    background-color: rgba(230, 227, 227, 0.7);
}

.d-none {
    display: none;
}

@media screen and (max-width:768px) {
    .flex-container {
        flex-direction: column;
    }

    .page-heading {
        text-align: center;
        font-size: 1.8rem;
    }

    .form-container {
        margin-bottom: 60px;
    }
}