.chatbox {
    height: 100vh;
    position: relative;
}

.chatbox-body {
    height: 90vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .hide-in-small-device {
        display: none;
    }

    .show-in-small-device {
        width: 100vw;
    }

    .chatbox {
        height: 90vh;
    }

    .chatbox-body {
        height: 82vh;
    }
}