.error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

.error-page h2,
ul,
li {
    margin: 0;
}