.msg-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sender-image {
    height: 40px;
    width: 45px;
    border-radius: 50%;
}

.own-msg {
    justify-content: end;
    flex-direction: row-reverse;

}

.own-msg p {
    background-color: yellowgreen;
    border: 1px solid rgb(71, 103, 6);
}

.friends-msg {
    justify-content: start;

}

.friends-msg p {
    background-color: white;
    border: 1px solid grey;
}

.msg-text {
    padding: 1% 2%;
    border-radius: 5px;
    font-weight: 500;
    max-width: 50%;
    min-width: 10%;
    /* text-align: center; */
}

@media screen and (max-width:768px) {
    .msg-text {
        max-width: 75%;
        min-width: 25%;
    }
}