.about {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-text-and-link {
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    /* color: rgb(13, 3, 77); */
}

.about-text {
    width: 60%;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text h4 {
    color: rgb(35, 34, 34);
}

.about-page-buttons {
    margin-bottom: 30px;
    animation: show-delay 6s linear 0s 1;
}

.profile-btn {
    background-color: rgba(0, 128, 0, 0.8);
    color: rgb(250, 238, 238);
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.profile-btn:hover {
    color: white;
    background-color: rgba(0, 128, 0, 0.9);
}

.profile-btn img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    /* .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text-and-link {
        margin-top: 10%;
        margin-bottom: 10%;
        align-items: center;
    } */

    .about-text {
        width: 80%;
    }
}