.about-text-and-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 5%;
}

.about-text {
    width: 80%;
    background-image: linear-gradient(rgba(240, 248, 255, 0.445), aliceblue, rgba(240, 248, 255, 0.445));
    padding: 10%;
    text-align: center;
}

.about-text h4 {
    color: rgb(35, 34, 34);
}

.about-text-and-link a {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}