.profile-page {
    padding-bottom: 5%;
}

.profile {
    width: 325px;
    background-color: rgba(240, 248, 255, 0.8);
    color: rgb(45, 42, 39);
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    animation: show-delay 1s linear 0s 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

.profile h2,
.profile h3,
.profile h4,
.profile p,
.profile a {
    margin: 0;
    background-color: rgba(230, 227, 227, 0.5)
}

.profile h2,
.profile h3,
.profile h4 {
    color: rgb(39, 31, 93);
}

.profile p {
    font-weight: 500;
}

.profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-img a {
    color: blue;
    transition: 0.5s;
}

.profile-img a:hover {
    color: orangered;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.user-dp {
    height: 100px;
    width: 100px;
    border: 5px solid yellowgreen;
    border-radius: 20px;
    margin-bottom: 12px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.special-note {
    color: maroon;
}

.edit-icon {
    color: blue;
    transition: 0.5s;
}

.edit-icon:hover {
    color: orangered;
}

.special-note a {
    color: blue;
    transition: 0.5s;
}

.special-note a:hover {
    color: orangered;
}

@media screen and (max-width:768px) {
    .profile-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}