.profile-page {
    padding-bottom: 5%;
}

.profile {
    width: 330px;
    background-color: rgba(240, 248, 255, 0.8);
    color: rgb(45, 42, 39);
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    animation: show-delay 1s linear 0s 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

.profile h2,
.profile h3,
.profile h4,
.profile p {
    margin: 0;
    background-color: rgba(240, 248, 255);
    border: 5px solid rgba(240, 248, 255);
}

.profile a {
    margin: 0;
    background-color: rgba(240, 248, 255);
    /* border: 2px solid rgba(240, 248, 255); */
}

.profile h2,
.profile h3,
.profile h4 {
    color: rgb(39, 31, 93);
}

.profile p {
    font-weight: 500;
}

.profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-img a {
    color: blue;
    transition: 0.5s;
}

.profile-img a:hover {
    color: rgb(232, 64, 3);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.user-dp {
    height: 100px;
    width: 100px;
    border: 15px solid rgba(240, 248, 255);
    border-radius: 20px;
    margin-bottom: 12px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.special-note {
    color: maroon;
}

.edit-icon {
    color: blue;
    transition: 0.5s;
}

.edit-icon:hover {
    color: rgb(232, 64, 3);
}

.special-note a {
    color: blue;
    transition: 0.5s;
}

.special-note a:hover {
    color: rgb(232, 64, 3);
}

.profile-page-buttons button {
    width: 300px;
    /* padding: 6px 10px; */
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: start;
    transition: 0.3s;
}

.chatbox-btn {
    border: none;
    background-color: green;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.chatbox-btn:hover {
    background-color: rgb(3, 176, 3);
}

.logout-btn {
    background-color: orangered;
    color: aliceblue;
    border: none;
}

.logout-btn:hover {
    background-color: rgb(252, 51, 1);
}

.logout-btn p {
    margin: 10px;
}

.delete-account-btn {
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid salmon;
    color: rgb(253, 91, 73);
    display: flex;
    align-items: center;
}

.delete-account-btn p {
    margin: 0;
}

.cross {
    display: none;
    transition: 0.5s;

}

.delete-account-btn:hover {
    border: 2px solid rgb(254, 1, 1);
    color: rgb(254, 1, 1);
}

.delete-account-btn:hover .cross {
    display: block;
    margin-left: 100px;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .profile-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile {
        margin-bottom: 20%;
    }
}