.chatbox-accessories {
    height: 10vh;
    background-color: rgb(26, 26, 26);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-accessories:hover {
    background-color: black;
}

.chatbox-accessories-links {
    display: flex;
    gap: 25px;
    margin-left: 10px;
}

.chatbox-accessories img {
    height: 50px;
    width: 125px;
    margin-right: 10px;
}

.chatbox-accessories-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding-inline: 5px;
    border-radius: 3px;
    color: wheat;
    transition: 0.3s;
}

.chatbox-accessories-link p {
    margin: 0;
}

.chatbox-accessories-link img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0;
}

.chatbox-accessories-link:hover p {
    text-decoration: underline;
}

.bars {
    color: wheat;
    display: none;
}

.hide-in-lg-device {
    display: none;
}



@media screen and (max-width:768px) {

    .bars {
        display: block;
        margin-left: 5%;
    }

    .hide-links-in-sm {
        display: none;
    }

    .show-links-in-sm {
        display: flex;
        flex-direction: column;
        align-items: start;
        border-radius: 5px;
        padding: 20px;
        background-color: rgb(26, 26, 26);
        position: absolute;
        bottom: 0;
        width: 50%;
    }

    .hide-bar-in-sm {
        display: none;
    }

    .show-bar-in-sm {
        display: block;
    }

    .chatbox-accessories {
        height: 8vh;
    }

    .d-block-in-sm {
        display: block;
    }

    .d-none-in-sm {
        display: none;
    }

    .chatbox-accessories img {
        height: 42px;
    }
}