.App {
  background-image: url('./Assets/images/background/bg.webp');
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-heading {
  background-color: white;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-right: 2%;
  border-radius: 2px;
}