.sidebar {
    /* width: 27%; */
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.9);
    height: 90vh;
}

.sidebar-heading {
    display: flex;
    justify-content: space-between;
}

.sidebar-heading h2 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

.toggle-sidebar-btn {
    color: white;
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    font-size: 1rem;
    transition: 0.3s;
}

.toggle-sidebar-btn:hover {
    color: lightcyan
}

.sidebar-content {
    height: 65vh;
    margin-top: 5%;
    overflow-y: scroll;
}

.sidebar-content::-webkit-scrollbar {
    width: 6px;
}

.sidebar-content::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
}

.sidebar-content::-webkit-scrollbar-thumb {
    background: rgb(72, 72, 72);
    border: 1px solid white;
    border-radius: 5px;
}


.sidebar-content div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

.person:hover {
    cursor: pointer;
}

.person:hover h4,
.group:hover h4 {
    text-decoration: underline;
}

.person-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



.group-image {
    height: 50px;
    width: 50px;
    border-radius: 25%;
}

.submit-search-btn {
    padding: 5px;
}

.sidebar-search-input {
    width: 95%;
    background-color: white;
    height: 45px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.sidebar-search-input input {
    height: 30px;
    border: none;
    border-radius: 2px;
    width: 90%;
}

.sidebar-search-input input:focus {
    outline: none;
}

.sidebar-search-input button {
    color: rgb(49, 74, 1);
    border: none;
    background-color: white;

}

.sidebar-search-input button:hover {
    color: rgb(73, 112, 1);
}


@media screen and (min-width: 768px) {
    .sidebar {
        width: 27%;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        height: 84vh;
    }

    .sidebar-content {
        height: 60vh;
    }
}