.no-message {
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: banner-animation 5s ease-in-out infinite;
}

.messages {
    /* width: 73%; */
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 1%;
}

.messages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    background-color: white;
    padding: 1%;
    padding-inline: 2%;
    padding-bottom: 0;
    height: 10vh;
}

.chatmate-identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.messages-header img {
    height: 50px;
    width: 55px;
    border-radius: 50%;
}

.messages-header h2 {
    font-size: 1.5rem;
    color: grey;
    margin: 0;
}

.chatmate-profile-link {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(0, 0, 91);
}

.messages-content {

    padding: 1%;
    height: 65vh;
    overflow-y: scroll;
}

.messages-content::-webkit-scrollbar {
    width: 7px;
}

.messages-content::-webkit-scrollbar-track {
    background: rgb(161, 161, 161);
}

.messages-content::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
}

.msg-sending-form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 10vh;
    border: 5px solid white;
    border-inline: 0;
}

.msg-sending-form input {
    width: 90%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(49, 74, 1);
    border-radius: 5px;
    margin-left: 10px;
}

.msg-sending-form button {
    border: none;
    background-color: white;
    color: rgb(49, 74, 1);
    font-size: 1.5rem;
    transition: 0.3s;
    margin-right: 10px;
}

.msg-sending-form button:hover {
    color: rgb(73, 112, 1);
}

.return-arrow {
    font-size: 1.5rem;
    color: grey;
    transition: 0.3ms;
}

.return-arrow:hover {
    color: rgb(40, 40, 40);
}

@media screen and (min-width:768px) {
    .no-message {
        width: 73%;
    }

    .messages {
        width: 73%;
    }

    .return-arrow {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .chatmate-identity {
        gap: 7px;
    }

    .chatmate-profile-link {
        font-size: 1rem;
    }

    .d-none-sm {
        display: none;
    }

    .messages {
        height: 79vh;
    }

    .messages-content {
        height: 64vh;
    }

    .messages-header {
        height: 8vh;
    }

    .msg-sending-form {
        height: 7vh;
    }


}